<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".MoneyMindApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyMind"
        tools:targetApi="31">

        <!-- 🌟 Splash / Главный экран -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MoneyMind"
            android:configChanges="locale|layoutDirection|screenLayout|uiMode|orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Остальные активности -->
        <activity
            android:name=".ui.StatsActivity"
            android:configChanges="locale|layoutDirection|screenLayout|uiMode|orientation|screenSize|keyboardHidden" />

        <!-- ✅ Добавили adjustResize здесь -->
        <activity
            android:name=".ui.AddExpenseActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="locale|layoutDirection|screenLayout|uiMode|orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.AddCustomCategoryActivity"
            android:configChanges="locale|layoutDirection|screenLayout|uiMode|orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.ChooseExpenseCategoryActivity"
            android:configChanges="locale|layoutDirection|screenLayout|uiMode|orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.ChooseIncomeCategoryActivity"
            android:configChanges="locale|layoutDirection|screenLayout|uiMode|orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.ChooseTypeActivity"
            android:configChanges="locale|layoutDirection|screenLayout|uiMode|orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.EditCategoryActivity"
            android:configChanges="locale|layoutDirection|screenLayout|uiMode|orientation|screenSize|keyboardHidden" />

        <!-- Если используется -->
        <!--
        <activity
            android:name=".ui.choose.ChooseCategoryActivity"
            android:configChanges="locale|layoutDirection|screenLayout|uiMode|orientation|screenSize|keyboardHidden" />
        -->

    </application>
</manifest>